[submodule "eris"]
	path = eris
	url = https://github.com/fnuecke/eris
[submodule "Box2D"]
	path = Box2D
	url = https://github.com/erincatto/Box2D
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "luawrapper"]
	path = luawrapper
	url = git@github.com:sweetkristas/luawrapper.git
[submodule "luajit-2.0"]
	path = luajit-2.0
	url = http://luajit.org/git/luajit-2.0.git
	branch = v2.1
